@model AplikacjaMVC.Models.Images
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "PARITA";
}



<div id="result">
    <div class="card mb-3" style="width: 40rem;">
        <div class="card-body">
            <h3 class="card-title">@Model.Title</h3>
            <h5 class="card-text">@Model.Description</h5>
            <p class="card-text"><small class="text-muted">Autor: XXX</small></p>
        </div>


        <form asp-action="Buttons" asp-controller="Image" method="POST" data-ajax-update="#result" data-ajax="true">
            <div class="form-group"> </div>
            <img src="@Url.Content(Model.Path)" onclick="" class="card-img-top" alt="Image">
            <div class="input-group-button">
                <button name="plus" class="btn btn-dark" value="@Model.Id">+</button>
                @Model.Rating
                <input hidden asp-for="Rating" />
                <button name="minus" class="btn btn-dark" value="@Model.Id">-</button>
            </div>
        </form>
    </div>
</div>


<div id="listC">@Html.Partial("ParitialImage")</div>






@section scripts
            {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js" integrity="sha256-v2nySZafnswY87um3ymbg7p9f766IQspC5oqaqZVX2c=" crossorigin="anonymous"></script>

}







<!--@section scripts
            {

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script type="text/javascript">
        function SubmitForm(form) {
            $.ajax({
                type: "POST",
                url: "/ImageController/Buttons",  //form.action,
                data: ('#form'),
                success: function(data) {
                    if (data.success)
                    {
                        alert(data.message);


                    }
                    else
                    {

                    }
                },

            });
            form.preventDefault();
            return false;

        };

    </script>

<script>
    $(document).ready(function () {
        $("#alertmessage").hide()
        $("#formsumbit").on("click", function SubmitForm(form) {
            form.preventDefault();
            $.ajax({
                method: "POST",
                url: "/ImageController/Buttons",  //form.action,
                data: {
                    minus: minus,
                    plus: plus
                },
                success: function (data) {
                    if (data.success) {
                        alert(data.message);


                    } else {

                    }
                },

            });
        })
    })
</script>
                -->
