@model AplikacjaMVC.Models.Images
@{
    ViewData["Title"] = @Model.Title;
}


<div id="result">

    <div class="card mb-3" style="width: 40rem;">
        <div class="card-body">
            <h3 class="card-title">@Model.Title</h3>
            <h5 class="card-text">@Model.Description</h5>
            <p class="card-text"><small class="text-muted">Autor: @Model.Username</small></p>
        </div>


        <div>
            <div class="form-group"> </div>
            <img src="@Url.Content(Model.Path)" onclick="" class="card-img-top" alt="Image">
            <div id="VotingButtons" class="input-group-button">
                <button name="plus" class="btn btn-dark" id="plusButton" value="@Model.Id">+</button>
                @*<input type="button" name="plus" id="@Model.Id" value="+" />*@
                @Model.Rating
                <input hidden asp-for="Rating" />
                <button name="minus" class="btn btn-dark" id="minusButton" value="@Model.Id">-</button>
                @*<input type="button" name="minus" id="@Model.Id" value="-" />*@

            </div>
        </div>
    </div>
</div>


